@import "../../global/style.css";

.list-wrapper {
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
  border-radius: 0 0 24px 24px;
  max-width: 584px;
  overflow: hidden;
}

.list-wrapper .top-divider {
  border-top: 1px solid #e8eaed;
  margin: 0 20px 4px 14px;
}

.list-wrapper .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-wrapper .list .list-item {
  padding: 6px 0;
}
.list-wrapper .list .list-item:hover {
  background-color: #eee;
}
.list-wrapper .list .list-item .item-wrapper {
  display: flex;
  align-items: center;
  margin: 0 20px 0 14px;
}
.list-wrapper .list .list-item .item-wrapper .icon {
  width: 20px;
  height: 20px;
  background: url("search_history.webp") no-repeat 0 -21px;
  background-size: 20px;
  margin: 0 13px 0 1px;
}

.list-wrapper .list .list-item.history .item-wrapper .text-wrapper {
  font-family: var(--primary-font-family);
  font-size: 16px;
  color: #52188c;
  flex: auto;
}
.list-wrapper .list .list-item .item-wrapper .right-btn-wrapper .remove-btn {
  color: #80868b;
}
.list-wrapper
  .list
  .list-item
  .item-wrapper
  .right-btn-wrapper
  .remove-btn:hover {
  color: #1a73e8;
}
